:root {
    --bg: #16182c;
    --primary: #ff7629;
    --secondary: #ff5e03;
    --tertiary: #23283c;
    --text: #fff;

    --active: #29fda8;
    --disabled: #3d3d3d;

    --track-1: #242424;
    --track-1-active: #795ff6;
    --track-2: #333333;
    --track-2-active: #3aa8ff;

    --nav: 6rem;
}

* {
    font-family: "Poppins", sans-serif;
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    transition: all ease 300ms;
    color: var(--text);
}

::-webkit-scrollbar {
    width: 4px;
}

::-webkit-scrollbar-thumb {
    background: var(--secondary);
    border-radius: 1rem;
}

::-webkit-scrollbar-thumb:hover {
    background: var(--primary);
}

::-webkit-scrollbar-track {
    background: var(--tertiary);
}

html {
    scroll-behavior: smooth !important;
}

body {
    padding: 0 3rem;
    position: relative;
    width: 100lvw;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 2rem;

    overflow-x: hidden;
    background: var(--bg);
}

button {
    padding: .75rem 1rem;
    cursor: pointer;
    font-weight: bold;
    font-size: 1rem;
    color: white;
    background: var(--primary);
    border-radius: 8rem;
    border: none;
}

button:hover {
    background: var(--secondary);
}