.col_2 {
    position: relative;
    width: 100%;
    height: 35rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.bg_gif {
    position: absolute;
    width: 100%;
    height: 35rem;

    background: linear-gradient(180deg, transparent 20%, var(--bg) 100%), url('/main-bg.gif');
    z-index: -1;
}

.main_text {
    padding: 3rem;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.main_text > h1 {
    font-size: 4.5em;
    font-weight: 300;
}

.main_text > h2 {
    width: 70%;
    font-size: 2rem;
    font-weight: 600;
}

.main_text > h3 {
    font-size: 1.5rem;
    font-weight: 200;
}

.main_text > div {
    display: flex;
    gap: 1rem;
}

.main_text > div a:last-child button {
    background: transparent;
    border: 2px solid var(--secondary);
}

.main_text > div a:last-child button:hover {
    background: var(--secondary);
}

.main_splash {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main_splash > svg {
    height: auto;
    width: 50%;
    fill: white;
}

.bullets {
    padding: 4rem 2rem;
    width: 100%;
    height: 45rem;

    background: var(--tertiary);
    border-radius: 1rem;

    display: grid;
    grid-template-rows: repeat(auto-fit, 1fr);
}