.bullet {
    width: 100%;

    display: grid;
    grid-template-columns: repeat(5, 1fr) 3fr .5fr repeat(12, 1fr);
    place-items: center;
}

.bullet > div:nth-child(1) {
    width: 60%;
    height: auto;
    aspect-ratio: 1;
    background: var(--active);
    border: 2px solid var(--bg);
    border-radius: 100%;
}

.bullet > div:nth-child(2),
.bullet > div:nth-child(3),
.bullet > div:nth-child(4) {
    position: relative;
    width: 60%;
    height: auto;
    aspect-ratio: 1;
    background: var(--track-2);
    border: 2px solid var(--bg);
    border-radius: 100%;
}

.bullet > div:nth-child(2)::after,
.bullet > div:nth-child(3)::after,
.bullet > div:nth-child(4)::after {
    content: '';
    position: absolute;
    width: 50%;
    height: 2px;
    background: white;
    top: 50%;
}

.bullet > div:nth-child(5) {
    padding: .25rem 1.5rem;
    text-align: center;
    font-weight: bold;

    background: var(--track-1);
    border: 2px solid var(--bg);
    border-radius: 8px;
}

.bullet > div:nth-child(6) {
    text-align: center;
    font-weight: 500;
    font-size: .9rem;
    height: 3.5rem;
    width: 90%;

    display: flex;
    align-items: center;
    justify-content: center;

    border: 2px solid var(--bg);
    border-radius: 8px;
}

.bullet:nth-child(1) > div:nth-child(6) {
    background: #c8893c;
}
.bullet:nth-child(2) > div:nth-child(6) {
    background: #1464aa;
}
.bullet:nth-child(3) > div:nth-child(6) {
    background: #1c7b59;
}
.bullet:nth-child(4) > div:nth-child(6) {
    background: #312fad;
}

.bullet > div:nth-child(7) {
    width: 50%;
    height: 3rem;

    background: var(--disabled);
    border: 2px solid var(--bg);
    border-radius: 5px;
}

.bullet > div:nth-child(8),
.bullet > div:nth-child(9),
.bullet > div:nth-child(10),
.bullet > div:nth-child(11) {
    position: relative;
    width: 40%;
    height: 3rem;

    background: var(--track-1);
    border: 2px solid var(--bg);
    border-radius: 5px;
}

.bullet > div:nth-child(8)::after,
.bullet > div:nth-child(9)::after,
.bullet > div:nth-child(10)::after,
.bullet > div:nth-child(11)::after {
    content: '';
    position: absolute;
    left: 20%;
    top: 5px;
    width: 60%;
    height: 2px;

    background: var(--bg);
}

.bullet > div:nth-child(12),
.bullet > div:nth-child(13),
.bullet > div:nth-child(14),
.bullet > div:nth-child(15) {
    position: relative;
    width: 40%;
    height: 3rem;

    background: var(--track-2);
    border: 2px solid var(--bg);
    border-radius: 5px;
}

.bullet > div:nth-child(12)::after,
.bullet > div:nth-child(13)::after,
.bullet > div:nth-child(14)::after,
.bullet > div:nth-child(15)::after {
    content: '';
    position: absolute;
    left: 20%;
    top: 5px;
    width: 60%;
    height: 2px;

    background: var(--bg);
}

.bullet > div:nth-child(16),
.bullet > div:nth-child(17),
.bullet > div:nth-child(18),
.bullet > div:nth-child(19) {
    cursor: pointer;
    position: relative;
    width: 40%;
    height: 3rem;

    background: var(--track-1);
    border: 2px solid var(--bg);
    border-radius: 5px;
}

.bullet > div:nth-child(16)::after,
.bullet > div:nth-child(17)::after,
.bullet > div:nth-child(18)::after,
.bullet > div:nth-child(19)::after {
    content: '';
    position: absolute;
    left: 20%;
    top: 5px;
    width: 60%;
    height: 2px;

    background: var(--bg);
}

.bullet:nth-child(1) > div:nth-child(8) {
    background: var(--track-1-active);
}
.bullet:nth-child(1) > div:nth-child(12) {
    background: var(--track-2-active);
}
.bullet:nth-child(1) > div:nth-child(16) {
    background: var(--track-1-active);
}

.bullet:nth-child(2) > div:nth-child(10) {
    background: var(--track-1-active);
}
.bullet:nth-child(2) > div:nth-child(12) {
    background: var(--track-2-active);
}
.bullet:nth-child(2) > div:nth-child(14) {
    background: var(--track-2-active);
}
.bullet:nth-child(2) > div:nth-child(17) {
    background: var(--track-1-active);
}
.bullet:nth-child(2) > div:nth-child(18) {
    background: var(--track-1-active);
}

.bullet:nth-child(3) > div:nth-child(9) {
    background: var(--track-1-active);
}
.bullet:nth-child(3) > div:nth-child(13) {
    background: var(--track-2-active);
}

.bullet:nth-child(4) > div:nth-child(8) {
    background: var(--track-1-active);
}
.bullet:nth-child(4) > div:nth-child(11) {
    background: var(--track-1-active);
}
.bullet:nth-child(4) > div:nth-child(14) {
    background: var(--track-2-active);
}

.clickable,
.clickable_active {
    position: relative;
    cursor: pointer;
}

.clickable_active {
    background: var(--secondary) !important;
}

.modal {
    position: fixed;
    padding: 3rem;
    top: 50%;
    left: 10lvw;
    width: 80lvw;
    height: max-content;
    transform: translateY(-50%);

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    z-index: 2;

    font-size: 1.5rem;

    background: var(--disabled);
    border: 2px solid var(--bg);
    border-radius: 8px;
}

.modal > * {
    user-select: none;
}

.modal > h4 {
    font-weight: 400;
}

.modal > h5 {
    font-weight: 300;
    padding-left: 2rem;
}

.hidden {
    display: none;
}