.footer {
    position: relative;
    padding: 1rem 4rem;
    width: 100lvw;
    
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
    place-items: center;

    background: var(--tertiary);
}

.footer > h4 {
    grid-column: 1 / 4;
}

.footer2 {
    width: 100lvw;
    padding: 0 5rem;
    padding-bottom: 2rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.footer2 *:last-child {
    text-decoration: underline;
}